<html>

<head>
	<title>Product Registration and Purchase Page</title>
</head>

<body style="background-color:powderblue;">
	<h1>Product Registration and Purchase Page</h1>
	<form>
		I am a:<br>
		<input type="radio" name="gender" value="male" checked> Manufacturer<br>
		<input type="radio" name="gender" value="female"> Retailer<br>
	</form>

	<form action="{{url_for('register')}}" method="post">
		<fieldset>
			<legend>Register your products:</legend>
			Product Name:<br>
			<input type="text" name="product" value=" "><br>
			Product Link:<br>
			<input type="text" name="link" value=" "><br>
			Quantity:<br>
			<input type="text" name="quantity" value=" "><br>
			Price per unit:<br>
			<input type="text" name="price" value=" "><br>
			Manufacturer (Sender) Name:<br>
			<input type="text" name="seller" value=" "><br><br>

			<input type="submit" value="Submit">
		</fieldset>
	</form>


	<form action="{{url_for('transfer')}}", method="post">
		<fieldset>
			<legend>Purchase/transfer products:</legend>
			Product Name:<br>
			<input type="text" name="product" value=" "><br>
			Manufacturer (Sender) Name:<br>
			<input type="text" name="sender" value=" "><br>
			Retailer (Recipient) Name:<br>
			<input type="text" name="recipient" value=" "><br>
			Quantity:<br>
			<input type="text" name="quantity" value=" "><br><br>
			<input type="submit" value="Submit">
		</fieldset>
	</form>


</body>

</html>
